:root {
    --border-color: #a1a2a3;
}
.profile-outer-container {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 0;
}
.profile-left-container {
    width: 23%;
    max-width: 300px;
    background-color: white;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.profile-left-user-details {
    width: 80%;
    max-width: 300px;
}
.profile-img {
    width: 250px;
    height: 250px;
    border-radius: 200px;
}
.profile-img-avatar{
    width: 250px;
    height: 250px;
}
.profile-name {
    font-weight: bold;
    margin-bottom: 3px;
    font-family: "Open Sans", sans-serif;
}
.profile-username {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}
.profile-main {
    width: 72%;
    background-color: #fafafa;
    border-radius: 7px;
}
.profile-edit-profile {
    width: 90%;
    background-color: var(--background-color);
    margin-top: 15px;
    border: solid 1px #949494;
    padding: 8px;
    border-radius: 8px;
}
.span-bold {
    font-weight: 600;
}
.profile-edit-profile:focus {
    outline: none;
    outline: 0.5 solid rgb(20, 81, 94);
    border-color: rgb(20, 81, 94);
}
