.profile-main {
    position: absolute;
    top: 70px;
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 7px;
}
.profile-left {
    width: 20%;
    margin-right: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    padding-left: 5px;
}
.profile-left:hover,
.profile-right:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}
.profile-right {
    width: 75%;
    background-color: white;
}
.profile-right-bio-cont {
    border: 0.5px solid lightgray;
    padding: 0 7%;
}
.profile-right-bio-cont:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    
}

.profile-right-bio {
    word-break: break-all;
    width: 90%;
}
