.header-outer {
    max-height: 60px;
    width: 98vw;
    background-color: #24292e;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    color: white;
    padding: 15px;
    padding-top: 0;
}
.header-left,
.header-right {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 21px;
    width: 35vw;
    justify-content: space-between;
}
.header-left {
    margin-top: -5px;
}
.header-right {
    margin-top: 10px;
}
.header-search-field {
    border: 0.5px solid #464e57;
    outline: none;
    height: 40px;
    min-width: 200px;
    width: 17vw;
    border-radius: 10px;
    background-color: #24292e;
    color: white;
}
.header-search-field:focus {
    outline: none;
    border: 0.5px solid gray;
}
.header-search-field::placeholder {
    color: #878b91;
}
.header-search-btn {
    border: 0.5px solid #464e57;
    outline: none;
    height: 44px;
    min-width: 55px;
    border-radius: 10px;
    background-color: #24292e;
    color: rgb(182, 181, 181);
    margin-left: 10px;
}
.header-search-btn:hover {
    cursor: pointer;
    border: 0.5px solid white;
}
.header-right {
    display: flex;
    flex-direction: row;
    width: 40vw;
    justify-content: space-between;
    padding: 8px;
}
