.Addpost-container {
    background-color: white;
    padding: 15px;
    border-radius: 7px;
    margin-bottom: 10px;
}
.Addpost-container:hover {
    box-shadow: 0 0 7px #ccc;
}
.addpost-textarea {
    border-color: lightgray;
    border-radius: 7px;
}
.addpost-textarea:focus {
    outline: none;
    border: 1px solid rgb(85, 85, 85);
}
.addpost-buttons {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}
